.aside {
    float: right;
    padding: 0.625rem;
}

.listado {
    border-bottom: 0.0625rem solid gray;
}

.listado__titulo {
    margin-bottom: 0.9375rem;
}

.listado__parrafo {
    margin-bottom: 0.9375rem;
}

.main-tags {
    margin-bottom: 0.9375rem;
    &__titulo {
        margin-bottom: 0.9375rem;
    }
    &__links li {
        color: white;
        padding: 0.1875rem;
        display: inline;
        background-color: steelblue;
        list-style-type: none;
        margin-bottom: 1.25rem;
    }
}

.tags__box {
    border-bottom: 0.0625rem solid gray;
}

.noticias-destacadas {
    padding-top: 0.9375rem;
    &__titulo {
        margin-bottom: 0.9375rem;
    }
    &__item {}
    &__descripcion {
        margin-bottom: 0.75rem;
    }
    &__img {
        margin-bottom: 0.75rem;
    }
}